# .NET
bin/
obj/
*.user
*.suo
.vs/
TestResults/

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*
*.log

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
